a.item span {
    color: silver;
    transition: color 200ms ease;
}
a.item:hover span {
    color: yellow;
}
.item svg {
    filter: brightness(0) invert(1);
    color: black;
}

.MuiTypography-root {
    font-size: 1.4rem!important;
}

h6 {
    font-size: 2.2rem!important;
}