.my-frame {
	margin: auto;
	max-width: 100%;
}

.my-frame table {
	width: 100%;
}

.my-chart {
	max-width: 400px;
	display: block;
	margin: 8px auto;
	text-align: center;
	background-color: #888;
	border-radius: 7px;
	padding: 8px;
	width: 100%;
	font-size: .85rem;

}

.my-chart .my-label {
	text-align: center;
	padding: 4px;
	color: white;
}

pre {
	color: white;
}

.progress-bar {
  width: 100%;
  height: 16px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #3b82f6, #2563eb);
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.docker-project {
	display: inline-block;
	width: 120px;
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	border: 2px solid silver;
	margin: 4px;
}

.my-grid {
	width: 100%;
	max-width: 600px;
	margin: 12px auto;
	text-align: center;
}

button {
	border: 1px solid white!important;
	border-radius: 4px!important;
	color: white!important;
}

table {
	width: 360px;
}

table tr td {
	background-color: grey;
}

.project-line {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 24px;
}

.name {
	min-width: 120px;
	margin-left: 5%;
	text-align: left;
	text-transform: lowercase;
}

.bar {
	flex: 1;
	background: #333;
	border-radius: 4px;
	overflow: hidden;
	height: 100%;
	position: relative;
}

.fill {
	background: linear-gradient(90deg, #2196f3, #64b5f6);
	height: 100%;
	width: 0;
	transition: width 0.3s ease;
}

.bar.ram .fill {
  	background: linear-gradient(90deg, #2196f3, #64b5f6);
}