html, body {
  background: #222!important;
  color: #e1e1e1;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  margin: 0;
  padding: 0;
}
img.favorite {
  filter: brightness(0) invert(1);
}
h4, table tr td, table tr th, span, p {
  color: white!important;
}
a:hover {
  color: darkgrey;
}
.intro button {
  border-radius: 32px;
}
.intro button img {
  filter: brightness(0) invert(1);
  background: transparent;
}
.intro button:hover {
  filter: brightness(0) invert(0.4);
  background: transparent;
}